@font-face {
  font-family: "Rajdhani";
  src: url("/lib/font/Rajdhani-Bold.ttf");
}

@font-face {
  font-family: "Muli";
  src: url("/lib/font/muli/Muli-Bold.ttf");
}

// headernav

.header-section {
  min-height: 150px;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.header-section #right {
  background-color: #f8f9fa;
  width: 100%;
  height: 150px;
  position: relative;
  z-index: 1;
}

@media (max-width: 1088px) {
  .header-section #right {
    font-size: 12px;
  }
}

@media (max-width: 1130px) {
  .header-section #right {
    display: none !important;
    width: 100%;
    height: 150px;
  }

  .d-none-1130 {
    display: none !important;
  }
}

@media (min-width: 1131px) {
  .d-none-min-1130 {
    display: none !important;
  }
}

.header-section #left {
  width: 100%;
  height: 150px;
}

.header-section #requestQuote {
  padding: 10px;
  background-color: #fd972e;
  color: white;
  font-weight: 600;
  outline: none;
  border: none;
  width: 250px;
  margin-left: 100px;
  z-index: 10;
  position: relative;
}

.header-section #requestQuote:hover {
  background-color: #09162a;
  color: white;
}

.header-section #callNow,
.header-section #email,
.header-section #adress {
  width: 230px;
  height: 70px;
}

.header-section #callNow .logo,
.header-section #email .logo,
.header-section #adress .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fd972e;
  position: relative;
}

.header-section #callNow .logo i,
.header-section #email .logo i,
.header-section #adress .logo i {
  position: absolute;
  left: 20px;
  top: 15px;
  color: #f8f9fa;
  font-size: 20px;
}

.navbar {
  background-color: #09162a;
}

.navbar .activeNavbarColor {
  color: #fd972e !important;
}

.navbar .navbar-toggler-icon {
  color: white;
}

.navbar .navbar-dark.navbar-toggler-icon {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fd972e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

.ml-0 {
  margin-left: 0;
}
/* Navbar section */
.headerInfo {
  position: sticky;
  top: 0;
  z-index: 30;
}
.nav {
  width: 100%;
  height: 65px;
  line-height: 65px;
  text-align: center;
  background-color: #212529;
  z-index: 10;
}

.nav div.logo {
  width: 180px;
  height: 10px;
  position: absolute;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
  text-transform: uppercase;
}

.nav div.logo a:hover {
  color: #c0c0c0;
}

.nav div.main_list {
  width: 800px;
  height: 85px;
  float: left;
  position: relative;
  margin-left: 50px;
  // left: 300px;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
}

.nav div.main_list ul li {
  width: 120px;
  height: 65px;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: white;
  line-height: 65px;
  font-weight: bold;
  font-family: "Rajdhani";
  text-transform: uppercase;
  @media (max-width: 992px) {
    color: white;
    float: left;
  }
}

.nav div.main_list ul li a:hover {
  color: #fd972e;
}

.nav div.media_button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 12px;
  display: none;
}

.nav div.media_button button.main_media_button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: 0;
  border: none;
  cursor: pointer;
}

.nav div.media_button button.main_media_button span {
  width: 98%;
  height: 1px;
  display: block;
  background-color: #fff;
  margin-top: 9px;
  margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1) {
  transform: rotateY(180deg);
  transition: all 0.5s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2) {
  transform: rotateY(180deg);
  transition: all 0.4s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3) {
  transform: rotateY(180deg);
  transition: all 0.3s;
  background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
  display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */

.home {
  width: 100%;
  height: 100%;
}

/* Medai qurey section */

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 1131px) {
  .container {
    margin: 0;
  }

  .nav div.logo {
    margin-left: 15px;
  }

  .nav div.main_list {
    width: 100%;
    margin-top: 65px;
    height: 0px;
    overflow: hidden;
  }

  .nav div.show_list {
    height: 250px;
  }

  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 200px;
    top: 80px;
    right: 0;
    left: 0;
  }

  .nav div.main_list ul li {
    width: 100%;
    height: 40px;
    background-color: #212529;
    @media (max-width: 992px) {
      color: white !important;
      background-color: #212529 !important;
    }
  }

  .nav div.main_list ul li a {
    text-align: left;
    line-height: 40px;
    width: 100%;
    height: 40px;
    display: table;
    position: relative;
    left: 30px;
  }

  .nav div.media_button {
    display: block;
  }
}

.section1 {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 400px;

  .splide__pagination {
    position: relative;
    width: 60px !important;
    bottom: 230px !important;
  }
  .splide__pagination__page {
    background-color: rgb(253, 151, 46) !important;
  }
  .image {
    width: 1000px !important;
    height: 100% !important;
    img {
      // height: 100%;
      // width: 50%;
      // object-fit: cover;
      @media (min-width: 375px) {
        width: 600px;
        height: 100%;
        object-fit: cover;
      }
      @media (min-width: 576px) {
        height: 100%;
        width: 50%;
        object-fit: cover;
      }
    }
  }

  .splide__slide {
    @media (min-width: 375px) {
      font-size: 10px;
    }
  }
}

.survey {
  color: rgb(253, 151, 46);
}
.ml-50 {
  @media (min-width: 375px) {
    margin-left: 0;
  }
  @media (min-width: 576px) {
    margin-left: 100px;
  }
}

.information {
  // background-color: red;
  width: 100%;
  height: 100%;
  // background: red !important;

  @media (min-width: 375px) {
    width: 500px;
  }
  @media (min-width: 576px) {
    width: 100%;
  }

  h1 {
    font-family: "Rajdhani";
    @media (min-width: 375px) {
      font-size: 16px;
      text-align: center;
      margin-top: 10px;
    }
    @media (min-width: 576px) {
      font-size: 40px;
      text-align: left;
    }
    @media (min-width: 768px) {
      font-size: 40px;
    }
    @media (min-width: 992px) {
      font-size: 50px;
    }
  }

  p {
    font-size: 10px;
    @media (min-width: 375px) {
      font-size: 16px;
      text-align: center;
    }
    @media (min-width: 576px) {
      font-size: 16px;
      text-align: left;
    }
    @media (min-width: 768px) {
      font-size: 16px;
    }
    @media (min-width: 992px) {
      font-size: 16px;
    }
  }
  .readMore {
    // background-color: rgb(9, 22, 42);
    // border: none;
    // color: white;
    // font-family: "Muli";
    font-size: 16px;
    @media (min-width: 375px) {
      margin-top: 25% !important;
      margin-left: 15px;
      background-color: rgb(9, 22, 42);
      border: none;
      color: white;
      font-family: "Muli";
      font-size: 10px;
    }
    @media (min-width: 575px) {
      font-size: 20px;
      margin-top: 0px !important;
      margin-left: 0px !important;
      background-color: rgb(9, 22, 42);
      border: none;
      color: white;
      font-family: "Muli";
    }

    &:hover {
      background-color: rgb(253, 151, 46);
    }
  }
  .projectPortfolio {
    color: rgb(253, 151, 46);
    font-family: "Muli";
    font-size: 18px;
    @media (min-width: 375px) {
      display: none;
    }
    @media (min-width: 576px) {
      display: block;
    }
    @media (max-width: 750px) {
      font-size: 12px;
    }
    @media (max-width: 767px) {
      font-size: 10px;
    }
  }

  @media (max-width: 700px) {
    margin-bottom: 10px;
  }
}

.section2 {
  background-color: #09162a;
  height: 510px;

  .section2__info {
    font-weight: 800;
    font-size: 30px;
    p {
      color: white;
    }
  }

  // .image {
  //   object-fit: cover;
  //   position: relative;
  //   z-index: 2;

  //   img {
  //     width: 100%;
  //     transform-origin: 65% 75%;
  //     transition: transform 0.4s, filter 0.5s ease-out;
  //     &:hover {
  //       transform: scale(1.1);
  //     }
  //   }
  // }

  .image {
    overflow: hidden;
    img:hover {
      transform: scale(1.4);
    }

    img {
      transition: transform 0.5s ease;
    }
  }

  .imageDescription {
    position: relative;
    color: black;
    background-color: white;
    width: 280px;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px 30px;
    z-index: 1;
    top: -50px;
    z-index: 5;
    box-shadow: 4px 3px 4px 3px rgba(0, 0, 0, 0.096);

    .imageDescription__title h3 {
      font-weight: 600;
    }

    .btnLink a {
      font-weight: 800;
      text-decoration: none;
    }

    transform-origin: 55% 75%;
    transition: transform 0.4s, filter 0.5s ease-out;
    &:hover {
      transition: all 0.1s 0s ease;
      transform: scale(1.1);
    }
  }

  .logo {
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: rgb(253, 151, 46);
    border-radius: 100%;
    top: -90px;
    left: 80px;
    z-index: 10;

    .fas.fa-building {
      font-size: 50px;
      position: relative;
      top: 40px;
      left: 40px;
      color: white;
    }
  }
}

.section3 {
  //   overflow: hidden;
  // background-color: red;
  width: 100%;
  position: relative;

  p {
    color: #09162a;
    font-size: 20px;
    font-weight: 600;
  }

  @media (min-width: 576px) {
    margin-top: 1050px;
  }

  @media (min-width: 768px) {
    margin-top: 300px;
  }

  @media (min-width: 992px) {
    margin-top: 300px;
    // background-color: pink;
  }
  @media (max-width: 575px) {
    // background-color: orange;
    margin-top: 1100px;
  }
  @media (min-width: 1200px) {
    margin-top: 400px;
    // background-color: orangered;
  }

  .plus {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(253, 151, 46);
    position: relative;
    margin: 0px auto;

    &:hover {
      background-color: #09162a;
    }

    .far.fa-plus {
      font-size: 35px;
      color: white;
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }
}

.section4 {
  span {
    font-family: "Muli";
    font-size: 18px;
  }
  .progress-bar {
    background-color: rgb(253, 151, 46);
    position: relative;
    display: inline-block;
    width: 100%;
    background: #f1f1f1;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 0;
      height: 100%;
      border-radius: 4px;
      animation: load 2.5s infinite;
    }

    @keyframes load {
      0% {
        width: 0;
        background: rgb(253, 151, 46);
      }

      100% {
        width: 100%;
        background: rgb(253, 151, 46);
      }
    }

    @keyframes pulse {
      0% {
        background: rgb(253, 151, 46);
      }

      75% {
        background: rgb(253, 151, 46);
      }

      100% {
        background: rgb(253, 151, 46);
      }
    }
  }

  .line-height-progress-bar {
    line-height: 1px;
  }

  .img {
    width: 70%;
    height: 50%;
    margin: 0 auto;

    img {
      object-fit: cover;
    }
  }

  #readMoreBtn {
    background-color: rgb(9, 22, 42);
    border: none;
    color: white;
    font-family: "Muli";

    &:hover {
      background-color: rgb(253, 151, 46);
    }
  }
  .section4__info {
    .aboutUs__tittle {
      color: rgb(253, 151, 46);
    }
    .aboutUs__subttile {
      color: #09162a;
      font-size: 30px;
    }
    .img {
      position: relative;
    }
  }
}

.section5 {
  overflow: hidden;
  .img {
    // width: 40%;
    // height: 100%;
    display: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(150%);
      transform-origin: 0 0;
      transition: transform 0.25s, visibility 0.25s ease-in;

      &:hover {
        transform: scale(1.03);
      }
    }
    @media (min-width: 768px) {
      display: block;
    }
  }

  img {
    transition: transform 0.5s ease;

    // @media (max-width: 1150px) {
    //   // justify-content: center;
    //   // align-self: center;
    //   display: none;
    // }
  }

  .chooseUs {
    width: 100%;
    background-color: #f6f6f6f1;
    .chooseUs__title {
      color: rgb(253, 151, 46);
    }
    .chooseUs_subttitle {
      color: #09162a;
    }
  }

  @media (min-width: 450px) {
    display: flex;
    flex-direction: column;
    // background-color: red;
  }
  @media (min-width: 733px) {
    display: flex;
    flex-direction: row;
  }

  .whiteCircle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
    position: relative;

    .logo {
      position: absolute;
      left: 30px;
      top: 15px;

      .fas.fa-user,
      .fad.fa-file-signature,
      .fad.fa-pencil,
      .fas.fa-warehouse-alt {
        font-size: 40px;
        color: rgb(253, 151, 46);
      }
    }
  }
}

.section6 {
  p {
    color: rgb(253, 151, 46);
  }

  .splide__pagination__page,
  .splide__pagination__page.is-active {
    background-color: rgb(253, 151, 6);
  }
  .card {
    border: none;
    display: relative;

    .card-img-overlay p {
      position: absolute;
      top: 0px;

      @media (min-width: 375px) {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 10px;
      }

      @media (min-width: 430px) {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 10px;
      }

      @media (min-width: 576px) {
        position: absolute;
        top: 95px;
        left: 20px;
        font-size: 15px;
      }

      @media (min-width: 768px) {
        position: absolute;
        top: 200px;
        font-size: 16px;
      }

      @media (min-width: 992px) {
        position: absolute;
        top: 240px;
        left: 50px;
        font-size: 16px;
      }
    }
    .card-img-overlay span {
      position: absolute;
      top: 100px;

      @media (min-width: 375px) {
        position: absolute;
        top: 75px;
        right: 10px;
        font-size: 14px;
      }

      @media (min-width: 430px) {
        position: absolute;
        top: 75px;
        right: 30px;
        font-size: 14px;
      }

      @media (min-width: 576px) {
        position: absolute;
        top: 150px;
        right: 50px;
        font-size: 15px;
      }
      @media (min-width: 768px) {
        position: absolute;
        top: 230px;
        right: 110px;
        font-size: 16px;
      }

      @media (min-width: 992px) {
        position: absolute;
        top: 300px;
        right: 160px;
        font-size: 16px;
      }
    }

    .card-img-overlay {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

      &:hover {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
      }
    }
  }
}

.section7 {
  .info {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 40px;
    }

    @media (min-width: 375px) {
      height: 200px;
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
    @media (min-width: 576px) {
      height: 200px;
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }
  .fas.fa-person-sign,
  .far.fa-building,
  .fas.fa-users,
  .fas.fa-comment-alt-edit {
    font-size: 30px;
    color: white;
  }

  @media (min-width: 375px) {
    display: flex;
    width: 100% !important;
    flex-direction: column;
    // display: none !important;
  }
  @media (min-width: 576px) {
    display: flex;
    flex-direction: row;
    width: 85% !important;
    float: right;
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    width: 85% !important;
    float: right;
  }

  @media (min-width: 992px) {
    display: flex;
    flex-direction: row;
    width: 85% !important;
    float: right;
  }

  z-index: 10;
  position: relative;
  top: 60px;
}

.section8 {
  height: 600px;
  width: 100%;
  z-index: 1;
  clear: both;
  background-image: url("../img/5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  // background: red;

  .section8__slider {
    position: relative;
    text-align: justify;
    top: 100px;
    width: 450px;
    height: 400px;
    background-color: white;
    padding: 20px;
    float: right;
    margin-right: 40px;
    line-height: 1.9;
    z-index: 10;

    @media (min-width: 375px) {
      position: relative;
      text-align: justify;
      top: 100px;
      width: 350px;
      height: 400px;
      background-color: white;
      padding: 20px;
      float: right;
      line-height: 1.9;
      z-index: 10;
      margin: 0 auto;
    }

    @media (min-width: 992px) {
      position: relative;
      text-align: justify;
      top: 150px;
      width: 450px;
      height: 400px;
      background-color: white;
      padding: 20px;
      float: right;
      margin-right: 40px;
      line-height: 1.9;
      z-index: 10;
    }
    @media (min-width: 1250px) {
      position: relative;
      text-align: justify;
      top: 250px;
      width: 450px;
      height: 400px;
      background-color: white;
      padding: 20px;
      float: right;
      margin-right: 40px;
      line-height: 1.9;
      z-index: 10;
    }
  }
  .splide__pagination__page,
  .splide__pagination__page.is-active {
    background-color: rgb(253, 151, 6);
  }

  .about {
    @media (min-width: 375px) {
      font-size: 10px;
    }

    @media (min-width: 576px) {
      font-size: 10px;
    }

    @media (min-width: 768px) {
      font-size: 10px;
    }
  }
}

.splide__slide {
  p {
    @media (min-width: 375px) {
      font-size: 15px;
    }

    @media (min-width: 576px) {
      font-size: 15px;
    }

    @media (min-width: 768px) {
      font-size: 15px;
    }
  }
}

.about__footer {
  i {
    @media (min-width: 375px) {
      position: relative;
      bottom: 70px;
      left: 150px;
      color: rgb(253, 151, 6);
    }

    @media (min-width: 576px) {
      position: relative;
      left: 150px;
      bottom: 70px;
      color: rgb(253, 151, 6);
    }

    @media (min-width: 768px) {
      position: relative;
      bottom: 70px;
      color: rgb(253, 151, 6);
    }
  }
}

.splide__arrow.splide__arrow--prev,
.splide__arrow.splide__arrow--next {
  display: none;
}

.section8__footer {
  height: 100px;
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: #f6f6f6f1;
  .far.fa-hard-hat {
    color: rgb(253, 151, 6);
    font-size: 40px;
  }

  h3 {
    @media (min-width: 375px) {
      font-size: 13px;
    }

    @media (min-width: 576px) {
      font-size: 10px;
      font-size: 14px;
    }

    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
  #joinNow {
    background-color: rgb(9, 22, 42);
    border: none;
    color: white;
    // font-family: "Muli";
    margin-right: 40px;
    font-size: 20px;
    padding: 20px;

    @media (max-width: 700px) {
      font-size: 12px;
      padding: 20px;
    }

    &:hover {
      background-color: rgb(253, 151, 46);
    }
  }
}

.section9 {
  .blogs {
    @media (min-width: 375px) {
      margin-bottom: 20px;
    }
    @media (min-width: 576px) {
      margin-bottom: 30px;
    }
    @media (min-width: 768px) {
      // margin-top: 0px;
    }
    @media (min-width: 992px) {
      // margin-top: 0px;
    }
  }
  .image {
    overflow: hidden;
    img:hover {
      transform: scale(1.4);
    }

    img {
      transition: transform 0.5s ease;
    }
  }

  p {
    color: rgb(253, 151, 46);
  }
  h2 {
    font-family: "Muli";
  }
  .section9__team {
    .card-footer {
      transition: 0.8s;
      h3 {
        font-weight: bold;
        color: #09162a;
      }
      p {
        font-weight: bold;
      }
    }
  }

  .card-footer__class {
    border-bottom: 3px solid rgb(253, 151, 46) !important;
    background-color: #09162a !important;
  }
  .card-footer__class__h3 {
    color: white !important;
  }

  .card {
    position: relative;
    .socialMedia {
      display: none !important;
    }

    &:hover {
      .socialMedia {
        position: absolute;
        top: 180px;
        left: 130px;
        display: block !important;

        @media (min-width: 375px) {
          position: absolute;
          top: 70%;
          left: calc(50vw - 64px);
          display: block !important;
        }

        @media (min-width: 576px) {
          position: absolute;
          top: 260px;
          left: 200px;
          display: block !important;
        }

        @media (min-width: 767px) {
          position: absolute;
          top: 85px;
          left: 50px;
          display: block !important;
        }

        @media (min-width: 992px) {
          position: absolute;
          top: 130px;
          left: 100px;
          display: block !important;
        }

        @media (min-width: 1200px) {
          position: absolute;
          top: 170px;
          left: 120px;
          display: block !important;
        }
      }

      a {
        // display: none !important;
        margin: 5px;
        padding: 15px;
        background-color: #09162a;
        padding: 7px;
        color: white;
        display: inline-block;
      }
    }
  }
}

.section10 {
  @media (min-width: 375px) {
    margin-top: 10px;
  }

  @media (min-width: 575px) {
    margin-top: 0;
  }

  background-color: rgba(0, 0, 0, 0.03);
  h3 {
    font-size: 14px;
    color: rgb(253, 151, 46);
    letter-spacing: 3px;
  }
  h1 {
    font-weight: bold;
  }
  .contactUs__paragraph {
    @media (min-width: 375px) {
      position: relative;
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      font-weight: bold;
      color: white;
      font-size: 20px;
      letter-spacing: 2px;
      text-align: center;
      margin-right: 30px;
      height: 250px;
      padding: 10px;
    }

    @media (min-width: 576px) {
      position: relative;
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      font-weight: bold;
      color: white;
      font-size: 20px;
      letter-spacing: 2px;
      text-align: center;
      margin: 0px;
      height: 300px;
      padding: 10px;
    }

    @media (min-width: 768px) {
      position: relative;
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      font-weight: bold;
      color: white;
      font-size: 20px;
      letter-spacing: 2px;
      text-align: center;
      margin: 0px;
      height: 300px;
      padding: 10px;
    }

    @media (min-width: 992px) {
      position: relative;
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      font-weight: bold;
      color: white;
      font-size: 20px;
      letter-spacing: 2px;
      text-align: center;
      margin: 0px;
      height: 300px;
      padding: 10px;
    }
  }
  .contactColor {
    background-color: rgb(253, 151, 46);
  }
  .allInformation {
    @media (min-width: 375px) {
      .icon {
        position: absolute;
        top: 30px;
        left: 200px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: rgb(253, 151, 46);
      }

      i {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 30px;
        color: white;
      }
      .aboutInfo {
        position: absolute;
        top: 90px;
        left: 80px;
        color: white;
        text-align: center;
        p {
          color: white;
          position: relative;
          font-weight: 600;
          top: 8px;
        }
        span {
          font-size: 20px;
          font-weight: 800;
          color: white !important;
        }
        #number {
          color: white !important;
        }
        #myEmail {
          font-weight: 800;
          &:hover {
            background-color: rgb(253, 151, 46);
          }
        }
      }
    }
    @media (min-width: 576px) {
      .icon {
        position: absolute;
        top: 30px;
        left: 250px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: rgb(253, 151, 46);
      }
      i {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 30px;
        color: white;
      }
      .aboutInfo {
        position: absolute;
        top: 90px;
        left: 130px;
        color: white;
        text-align: center;
        p {
          position: relative;
          font-weight: 600;
          color: white;
          top: 8px;
        }
        span {
          font-size: 20px;
          font-weight: 800;
          color: white;
        }
        #myEmail {
          font-weight: 800;
          &:hover {
            background-color: rgb(253, 151, 46);
          }
        }
      }
    }
    @media (min-width: 768px) {
      .icon {
        position: absolute;
        top: 30px;
        left: 180px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: rgb(253, 151, 46);
      }
      i {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 30px;
        color: white;
      }
      .aboutInfo {
        position: absolute;
        top: 90px;
        left: 60px;
        color: white;
        text-align: center;
        p {
          color: white;
          position: relative;
          font-weight: 600;
          top: 8px;
        }
        span {
          font-size: 20px;
          font-weight: 800;
          color: white;
        }
        #myEmail {
          font-weight: 800;
          &:hover {
            background-color: rgb(253, 151, 46);
          }
        }
      }
    }
    @media (min-width: 992px) {
      .icon {
        position: absolute;
        top: 100px;
        left: 150px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: rgb(253, 151, 46);
      }
      i {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 30px;
        color: white;
      }
      .aboutInfo {
        position: absolute;
        top: 90px;
        left: 160px;
        color: white;
        text-align: center;
        p {
          position: relative;
          font-weight: 600;
          top: 8px;
          color: white;
        }
        span {
          font-size: 20px;
          font-weight: 800;
          color: white;
        }
        #myEmail {
          font-weight: 800;
          &:hover {
            background-color: rgb(253, 151, 46);
          }
        }
      }
    }
  }
  .borderBottom {
    border-bottom: 0.2px solid black;
    width: 300px;
    position: relative;
    border-color: white;
    margin-top: 10px;
  }
  .row {
    border-radius: 4px;
  }
  .backgroundImage {
    background-image: url("../img/5.jpg");
    // opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;

    .row {
      background: linear-gradient(
        rgba(16, 24, 44, 0.85),
        rgba(16, 24, 44, 0.85)
      );
      height: 100%;
    }
  }
  #accordion {
    background: none;
    position: relative;
    bottom: 1px;
    @media (min-width: 767px) {
      background: none;
      position: relative;
      bottom: 100px;
    }

    .card {
      margin-top: 10px;
      background-color: white !important;
    }

    .btn-link {
      color: black;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.cardHeaderColor {
  background: rgb(16, 24, 44) !important;
}
.btnLinkColor {
  color: white !important;
}

.section11 {
  .blogs {
    @media (min-width: 375px) {
      margin-bottom: 15px;
    }
    @media (min-width: 576px) {
      margin-bottom: 15px;
    }
    @media (min-width: 768px) {
      // margin-top: 0px;
    }
    @media (min-width: 992px) {
      // margin-top: 0px;
    }
  }
  background-color: #f6f6f6f1;
  p {
    color: rgb(253, 151, 46);
  }
  h2 {
    font-weight: bold;
    color: #09162a;
  }

  .blogContainer {
    box-shadow: 3px 5px 5px 2px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    position: relative;
    .dateDiv {
      position: relative;
      bottom: 20px;
      left: 20px;
      width: 60px;
      padding: 8px;
      font-weight: bold;
      color: white;
      background-color: rgb(253, 151, 46);
      font-size: 20px;
      .month {
        font-weight: 400;
        font-size: 16px;
      }
    }

    .blogContainer__content {
      margin-left: 20px;
      p {
        color: #09162a;
        font-weight: bold;
        font-size: 22px;
        transition: color 0.5s;

        &:hover {
          color: rgb(253, 151, 46);
        }
      }
    }

    .blogContent {
      span {
        margin: 15px;
        i {
          color: rgb(253, 151, 46);
        }
      }
    }

    .image {
      overflow: hidden;
      img:hover {
        transform: scale(1.4);
      }

      img {
        transition: transform 0.5s ease;
      }
    }
  }
}

.section12 {
  .container {
    display: flex;
    height: 200px;
    width: 100%;
    background-color: #f6f6f6f1;
  }
  .image {
    margin: 0 auto;
  }
  .display-flex-md {
    display: flex;
    @media (max-width: 576px) {
      display: none;
    }
  }
}

.aboutUs__section2 {
  .top {
    h1 {
      color: #09162a;
      font-weight: bold;
    }
    h2 {
      color: rgb(253, 151, 46);
      font-size: 18px;
      font-weight: 400;
    }
    @media (min-width: 375px) {
      padding-top: 20px;
      font-size: 12px !important;
    }
    @media (min-width: 576px) {
      padding-top: 5px;
      font-size: 16px !important;
    }
  }
  position: relative;
  .container-fluid {
    @media (min-width: 375px) {
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: 475px) {
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: 576px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (min-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .information {
    position: relative;
    height: 300px;

    .paragraphs {
      @media (min-width: 375px) {
        position: relative;
        left: 2px;
        width: 300px;
        text-align: right !important;
      }

      @media (min-width: 475px) {
        position: relative;
        left: 0px;
        width: 450px;
        overflow: hidden;
        text-align: justify !important;
      }

      @media (min-width: 576px) {
        position: relative;
        left: 20px;
        width: 490px;
        overflow: hidden;
        text-align: justify !important;
      }

      @media (min-width: 768px) {
        position: relative;
        left: 20px;
        width: 450px;
        overflow: hidden;
        text-align: justify !important;
      }

      #first {
        font-size: 18px;
        line-height: 20px;
        margin-left: 2px;
        font-weight: bold;
        font-size: 13px;
      }
      #second {
        font-size: 13px;
      }

      p {
        color: #09162a;
      }
    }
    .projects {
      .far.fa-comment-alt-edit {
        font-size: 40px;
        color: rgb(253, 151, 46);
      }
      span a {
        text-decoration: none;
        list-style: none;
        color: #09162a;
        font-weight: bold;
      }

      @media (min-width: 375px) {
        margin-left: 100px;
      }
    }
  }
  .yearsOfExperience {
    position: relative;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-weight: bold;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0;
    padding: 1px 2px;
    background-color: rgb(253, 151, 46);
    height: 240px;
    text-align: center;
    @media (min-width: 375px) {
      position: relative;
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      font-weight: bold;
      color: white;
      font-size: 16px;
      letter-spacing: 1px;
      margin: 0;
      padding: 1px 2px;
      background-color: rgb(253, 151, 46);
      height: 250px;
      text-align: center;
    }

    @media (min-width: 475px) {
      position: relative;
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      font-weight: bold;
      color: white;
      font-size: 16px;
      letter-spacing: 1px;
      margin: 0;
      padding: 7px 17px;
      background-color: rgb(253, 151, 46);
      height: 250px;
      text-align: center;
    }
  }

  .image {
    width: 100%;
    height: 75%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.section13 {
  background-color: #0e192f;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  .firstColumn {
    font-size: 13px;
    h3 {
    
      // font-family: "Muli";
      font-weight: 800;
    }
    .body-info {
      
      color: white;

      @media(min-width: 375){
        h3 {
          color: rgb(253, 151, 46) !important;
          // font-family: "Muli";
          font-weight: 800;
        }
      }
    }

    #requestWithOnlineForm {
      padding: 15px 20px;
      font-size: 12px;
      background-color: transparent;
      color: white;
      font-weight: 600;
      border-color: white;
      border-width: 1px;
      transition: background-color, color 1s;
      border-radius: 0;
      box-shadow: none !important;
      &:hover {
        background-color: white;
        color: #09162a;
      }
    }

    @media (min-width: 375px) {
      padding-left: 0 !important;
    }
    @media (min-width: 576px) {
      padding-left: 15px !important;
    }
  }

  .secondColumn {
    h3 {
      color: white;
      font-family: "Rajdhani";
      font-weight: 800;
    }
    .links {
      a {
        list-style: none;
        color: white;
        font-weight: 600;
        font-size: 18px;
        text-decoration: none;
        font-family: "Rajdhani";
      }

      a li {
        padding: 2.5px;
      }

      a li {
        &::before {
          content: "\003E";
          position: relative;
          padding-right: 5px;
          color: #fd972e;
          font-weight: bold;
          line-height: 1;
        }
      }
    }
  }
  .usefulDesingBottom {
    .secondColumn_div1 {
      width: 5px;
      height: 5px;
      border: 3px solid #fd972e;
      fill: red;
    }

    .secondColumn_div2 {
      width: 50px;
      height: 5px;
      border-bottom: 2px solid #fd972e;
    }
  }
  .thirdColumn {
    h3 {
      color: white;
      font-family: "Rajdhani";
      font-weight: 800;
    }

    .recentPosts {
      @media (min-width: 375px) {
        .image {
          width: 70px;
          height: 70px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .content {
          margin-top: 10px;
          a {
            color: white !important;
            font-weight: bold;
            text-decoration: none;
          }
          span {
            font-weight: 600;
            color: #fd972e;
            font-size: 10px;
            position: relative;
            top: 5px;
          }
        }
      }
      @media (orientation: landscape) {
        color: white !important;
      }
      @media (orientation: portrait) {
        color: white !important;
      }
    }
  }

  .lastColumn {
    color: white;
    h3 {
      color: white;
      font-family: "Rajdhani";
      font-weight: 800;
    }

    .contentInfo {
      #email {
        font-weight: bold;
        font-family: "Rajdhani";
        font-size: 17px;
      }
      i {
        color: #fd972e;
      }

      hr {
        border: 0;
        height: 0;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.section14 {
  p {
    &:hover {
      color: #d8d6db71;
    }
  }
  .footer {
    color: #dbdad6;
  }
  background-color: #0d1c33;
  .links {
    margin-right: 15px;
  }
  .links a {
    padding: 5px;
    color: #dbdad6;
    &:hover {
      color: #d8d6db71;
    }
  }
}

// ABOUT US !!!

.aboutUs__aboutUs__Section {
  width: 100%;
  height: 450px;

  .container-fluid {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(rgba(28, 40, 54, 0.9));
  }

  .info {
    color: white;

    a {
      text-decoration: none;
      list-style: none;
      color: white;
    }

    #aboutUs {
      color: #fd8933 !important;
    }

    h3 {
      font-size: 40px;
      line-height: 46px;
      font-weight: bold;
    }
  }
  .imageBackground {
    position: relative;
    height: 450px;
    width: 100%;
    background-image: url("../img/aboutUs.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 20%;
  }
}

// aboutUS__howWeWorks

.aboutUS__howWeWorks {
  z-index: 5;
  width: 100%;
  // height: 520px;
  background-color: #f5f5f5;

  .num1 {
    width: 30px;
    height: 30px;
    background: #fd8933;
    color: white;
    text-align: center;
    position: relative;
    left: 50px;
    top: 10px;
    z-index: 10;
    padding: 5px 5px;
    border-radius: 100%;
  }

  .borderBottom1 {
    position: relative;
    top: 20px;
    left: 70px;
    width: 60px;
    height: 2px;
    background-color: #fd8933;
    z-index: 20;
  }

  .num2 {
    width: 80px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    position: relative;
    bottom: 30px;
    z-index: 5;
  }
}

.aboutUs__counter {
  background-color: #fd972e;

  z-index: 10;
  position: relative;
  top: 0px;
  @media (min-width: 375px) {
    .info {
      margin-top: 10px !important;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      span {
        font-size: 20px;
      }
      p {
        font-size: 20;
      }
    }
    .fas.fa-person-sign,
    .far.fa-building,
    .fas.fa-users,
    .fas.fa-comment-alt-edit {
      font-size: 20px;
      color: white;
    }
  }

  @media (min-width: 375px) {
    .info {
      margin-top: 10px !important;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      span {
        font-size: 20px;
      }
      p {
        font-size: 20;
      }
    }
    .fas.fa-person-sign,
    .far.fa-building,
    .fas.fa-users,
    .fas.fa-comment-alt-edit {
      font-size: 20px;
      color: white;
    }
  }
}

.testimonilas {
  // width: 100%;
  // background-color: red;
  // height: 500px;

  .testimonals__content {
    font-size: 22px;
    line-height: 32px;
    font-family: "Rajdhani";
    font-weight: bold;

    .image {
      width: 100%;
      height: 100%;
      img {
        margin: 0 auto !important;
      }
    }

    .fas.fa-star {
      color: #fd972e;
    }

    .splide__pagination {
      display: none !important;
    }
  }
}

// OUR SERVICES
.ourServices__section {
  background-color: #f5f5f5;

  .serviceContent {
    position: relative;
  }
  .image {
    position: relative;
    z-index: 1;
    overflow: hidden;

    img {
      transition: transform 0.5s ease;
      transform-origin: 0 0;
      transition: transform 0.25s, visibility 0.25s ease-in;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .imageContent {
    // transition: all 0.4s;
    box-shadow: 2px 3px 4px 8px rgba(0, 0, 0, 0.2);
    h3 {
      font-size: 20px;
    }
    &:hover {
      transform: translateY(-20px);
      transition: all 0.4s;
    }
    a {
      list-style-type: none;
      text-decoration: none;
      color: #fd972e;
      font-weight: 600;

      &:hover {
        color: #d47719;
      }
    }
    @media (min-width: 375px) {
      background-color: white;
      width: 90%;
      position: relative;
      left: 5%;
      bottom: 10%;
      z-index: 10;
      padding: 20px 20px;
      p {
        font-size: 16px;
      }
      .icon {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background-color: #fd972e;
        position: absolute;
        left: 40%;
        bottom: 92%;
        z-index: 20;
      }
      .fas.fa-building {
        font-size: 40px;
        color: white;
        position: relative;
        top: 15%;
      }
    }

    @media (min-width: 576px) {
      background-color: white;
      width: 90%;
      position: relative;
      left: 5%;
      bottom: 10%;
      z-index: 10;
      padding: 20px 20px;
      p {
        font-size: 16px;
      }
      .icon {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background-color: #fd972e;
        position: absolute;
        left: 40%;
        bottom: 92%;
        z-index: 20;
      }
      .fas.fa-building {
        font-size: 40px;
        color: white;
        position: relative;
        top: 15%;
      }
    }

    @media (min-width: 768px) {
      background-color: white;
      width: 90%;
      position: relative;
      left: 5%;
      bottom: 10%;
      z-index: 10;
      padding: 20px 20px;
      p {
        font-size: 16px;
      }
      .icon {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background-color: #fd972e;
        position: absolute;
        left: 30%;
        bottom: 95%;
        z-index: 20;
      }
      .fas.fa-building {
        font-size: 40px;
        color: white;
        position: relative;
        top: 15%;
      }
    }

    @media (min-width: 992px) {
      background-color: white;
      width: 90%;
      position: relative;
      left: 5%;
      bottom: 10%;
      z-index: 10;
      padding: 20px 20px;
      p {
        font-size: 16px;
      }
      .icon {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background-color: #fd972e;
        position: absolute;
        left: 37%;
        bottom: 92%;
        z-index: 20;
      }
      .fas.fa-building {
        font-size: 40px;
        color: white;
        position: relative;
        top: 18%;
      }
    }
  }
}

// BLOG PAGE

.blogContent {
  background-color: #f8f8fba4;
}

.blogDescripiton {
  // position: relative;
  background-color: white;

  .datetest {
    position: absolute;
  }
  .dateAndMonth {
    color: white;
    position: absolute;
    bottom: 35px;
    left: 20px;
    width: 60px;
    height: 65;
    padding: 10px 0;
    background: #fd972e;
    position: relative;
    .date {
      font-size: 25px;
    }
  }
}

.contentBlog {
  padding: 20px 20px;
  margin-top: 40px;

  h2 {
    font-size: 28px;
    font-weight: bold;
    color: #09162a;
  }
  p {
    margin-top: 20px;
  }
  .footer {
    width: 100%;
    height: 100%;
    div {
      a {
        color: black;
        list-style-type: none;
        text-decoration: none;
        i {
          margin-right: 5px;
        }

        &:hover {
          color: #fd972e;
        }
      }
    }
  }
}

.inputForma {
  width: 100%;
  background-color: rgba(194, 176, 176, 0.061);
  height: 100px;
  input {
    padding: 30px 20px;
  }
  .search {
    width: 80% !important;
    margin: 20px 30px;

    a {
      list-style-type: none;
      text-decoration: none;
      color: white;
    }
    .input-group-text {
      background-color: #fd972e;
    }
  }
}

.blogAllRecentPosts {
  background-color: #f4f4f4;

  .aboutBlogsContent {
    .image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      p {
        color: #09162a;
        font-weight: bold;
        font-size: 15px;
      }
      span {
        font: size 12px !important;
        color: #fd972e;
      }
    }
  }
}

.recents {
  .recet1 {
    width: 5px;
    height: 5px;
    background-color: #fd972e;
  }

  .recent2 {
    width: 50px;
    height: 2px;
    background-color: #fd972e;
  }
}

.categories {
  padding: 0px 25px;
  background-color: #f4f4f4;
  .list {
    li a {
      &::before {
        content: "\003E";
        position: relative;
        padding-right: 5px;
        color: black;
        font-weight: bold;
        line-height: 1;
      }
    }

    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: black;
        font-weight: 600;

        &:hover {
          color: #fd972e;
        }
      }
    }

    .number {
      width: 20px;
      height: 25px;
      text-align: center;
      background-color: white;
    }
  }
}

.rightImage {
  .image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.tags {
  background-color: #f4f4f4;
  h3 {
    color: #09162a;
  }
}
.allAboutTags {
  .aboutTagsClass {
    width: 100%;
    background-color: white;
    margin: 10px;
    padding: 10px;
    // color: black;
    font-weight: bold;

    a {
      text-decoration: none;
      color: #09162a;
    }
    &:hover {
      background-color: #fd972e;
      color: white;
    }
  }
}
