@font-face {
  font-family: "Rajdhani";
  src: url("/lib/font/Rajdhani-Bold.ttf");
}

@font-face {
  font-family: "Muli";
  src: url("/lib/font/muli/Muli-Bold.ttf");
}

.header-section {
  min-height: 150px;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.header-section #right {
  background-color: #f8f9fa;
  width: 100%;
  height: 150px;
  position: relative;
  z-index: 1;
}

@media (max-width: 1088px) {
  .header-section #right {
    font-size: 12px;
  }
}

@media (max-width: 1130px) {
  .header-section #right {
    display: none !important;
    width: 100%;
    height: 150px;
  }
  .d-none-1130 {
    display: none !important;
  }
}

@media (min-width: 1131px) {
  .d-none-min-1130 {
    display: none !important;
  }
}

.header-section #left {
  width: 100%;
  height: 150px;
}

.header-section #requestQuote {
  padding: 10px;
  background-color: #fd972e;
  color: white;
  font-weight: 600;
  outline: none;
  border: none;
  width: 250px;
  margin-left: 100px;
  z-index: 10;
  position: relative;
}

.header-section #requestQuote:hover {
  background-color: #09162a;
  color: white;
}

.header-section #callNow,
.header-section #email,
.header-section #adress {
  width: 230px;
  height: 70px;
}

.header-section #callNow .logo,
.header-section #email .logo,
.header-section #adress .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fd972e;
  position: relative;
}

.header-section #callNow .logo i,
.header-section #email .logo i,
.header-section #adress .logo i {
  position: absolute;
  left: 20px;
  top: 15px;
  color: #f8f9fa;
  font-size: 20px;
}

.navbar {
  background-color: #09162a;
}

.navbar .activeNavbarColor {
  color: #fd972e !important;
}

.navbar .navbar-toggler-icon {
  color: white;
}

.navbar .navbar-dark.navbar-toggler-icon {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fd972e;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

.ml-0 {
  margin-left: 0;
}

/* Navbar section */
.headerInfo {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 30;
}

.nav {
  width: 100%;
  height: 65px;
  line-height: 65px;
  text-align: center;
  background-color: #212529;
  z-index: 10;
}

.nav div.logo {
  width: 180px;
  height: 10px;
  position: absolute;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
  text-transform: uppercase;
}

.nav div.logo a:hover {
  color: #c0c0c0;
}

.nav div.main_list {
  width: 800px;
  height: 85px;
  float: left;
  position: relative;
  margin-left: 50px;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav div.main_list ul li {
  width: 120px;
  height: 65px;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: white;
  line-height: 65px;
  font-weight: bold;
  font-family: "Rajdhani";
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .nav div.main_list ul li a {
    color: white;
    float: left;
  }
}

.nav div.main_list ul li a:hover {
  color: #fd972e;
}

.nav div.media_button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 12px;
  display: none;
}

.nav div.media_button button.main_media_button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: 0;
  border: none;
  cursor: pointer;
}

.nav div.media_button button.main_media_button span {
  width: 98%;
  height: 1px;
  display: block;
  background-color: #fff;
  margin-top: 9px;
  margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1) {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2) {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3) {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
  display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
  -webkit-transform: rotate3d(0, 0, 1, 20deg);
          transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
  -webkit-transform: rotate3d(0, 0, 1, -20deg);
          transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */
.home {
  width: 100%;
  height: 100%;
}

/* Medai qurey section */
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 1131px) {
  .container {
    margin: 0;
  }
  .nav div.logo {
    margin-left: 15px;
  }
  .nav div.main_list {
    width: 100%;
    margin-top: 65px;
    height: 0px;
    overflow: hidden;
  }
  .nav div.show_list {
    height: 250px;
  }
  .nav div.main_list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 200px;
    top: 80px;
    right: 0;
    left: 0;
  }
  .nav div.main_list ul li {
    width: 100%;
    height: 40px;
    background-color: #212529;
  }
}

@media screen and (max-width: 1131px) and (max-width: 992px) {
  .nav div.main_list ul li {
    color: white !important;
    background-color: #212529 !important;
  }
}

@media screen and (max-width: 1131px) {
  .nav div.main_list ul li a {
    text-align: left;
    line-height: 40px;
    width: 100%;
    height: 40px;
    display: table;
    position: relative;
    left: 30px;
  }
  .nav div.media_button {
    display: block;
  }
}

.section1 {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 400px;
}

.section1 .splide__pagination {
  position: relative;
  width: 60px !important;
  bottom: 230px !important;
}

.section1 .splide__pagination__page {
  background-color: #fd972e !important;
}

.section1 .image {
  width: 1000px !important;
  height: 100% !important;
}

@media (min-width: 375px) {
  .section1 .image img {
    width: 600px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 576px) {
  .section1 .image img {
    height: 100%;
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 375px) {
  .section1 .splide__slide {
    font-size: 10px;
  }
}

.survey {
  color: #fd972e;
}

@media (min-width: 375px) {
  .ml-50 {
    margin-left: 0;
  }
}

@media (min-width: 576px) {
  .ml-50 {
    margin-left: 100px;
  }
}

.information {
  width: 100%;
  height: 100%;
}

@media (min-width: 375px) {
  .information {
    width: 500px;
  }
}

@media (min-width: 576px) {
  .information {
    width: 100%;
  }
}

.information h1 {
  font-family: "Rajdhani";
}

@media (min-width: 375px) {
  .information h1 {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
}

@media (min-width: 576px) {
  .information h1 {
    font-size: 40px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .information h1 {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .information h1 {
    font-size: 50px;
  }
}

.information p {
  font-size: 10px;
}

@media (min-width: 375px) {
  .information p {
    font-size: 16px;
    text-align: center;
  }
}

@media (min-width: 576px) {
  .information p {
    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .information p {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .information p {
    font-size: 16px;
  }
}

.information .readMore {
  font-size: 16px;
}

@media (min-width: 375px) {
  .information .readMore {
    margin-top: 25% !important;
    margin-left: 15px;
    background-color: #09162a;
    border: none;
    color: white;
    font-family: "Muli";
    font-size: 10px;
  }
}

@media (min-width: 575px) {
  .information .readMore {
    font-size: 20px;
    margin-top: 0px !important;
    margin-left: 0px !important;
    background-color: #09162a;
    border: none;
    color: white;
    font-family: "Muli";
  }
}

.information .readMore:hover {
  background-color: #fd972e;
}

.information .projectPortfolio {
  color: #fd972e;
  font-family: "Muli";
  font-size: 18px;
}

@media (min-width: 375px) {
  .information .projectPortfolio {
    display: none;
  }
}

@media (min-width: 576px) {
  .information .projectPortfolio {
    display: block;
  }
}

@media (max-width: 750px) {
  .information .projectPortfolio {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .information .projectPortfolio {
    font-size: 10px;
  }
}

@media (max-width: 700px) {
  .information {
    margin-bottom: 10px;
  }
}

.section2 {
  background-color: #09162a;
  height: 510px;
}

.section2 .section2__info {
  font-weight: 800;
  font-size: 30px;
}

.section2 .section2__info p {
  color: white;
}

.section2 .image {
  overflow: hidden;
}

.section2 .image img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.section2 .image img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.section2 .imageDescription {
  position: relative;
  color: black;
  background-color: white;
  width: 280px;
  font-size: 20px;
  margin: 0 auto;
  padding: 10px 30px;
  z-index: 1;
  top: -50px;
  z-index: 5;
  -webkit-box-shadow: 4px 3px 4px 3px rgba(0, 0, 0, 0.096);
          box-shadow: 4px 3px 4px 3px rgba(0, 0, 0, 0.096);
  -webkit-transform-origin: 55% 75%;
          transform-origin: 55% 75%;
  -webkit-transition: -webkit-transform 0.4s, -webkit-filter 0.5s ease-out;
  transition: -webkit-transform 0.4s, -webkit-filter 0.5s ease-out;
  transition: transform 0.4s, filter 0.5s ease-out;
  transition: transform 0.4s, filter 0.5s ease-out, -webkit-transform 0.4s, -webkit-filter 0.5s ease-out;
}

.section2 .imageDescription .imageDescription__title h3 {
  font-weight: 600;
}

.section2 .imageDescription .btnLink a {
  font-weight: 800;
  text-decoration: none;
}

.section2 .imageDescription:hover {
  -webkit-transition: all 0.1s 0s ease;
  transition: all 0.1s 0s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section2 .logo {
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: #fd972e;
  border-radius: 100%;
  top: -90px;
  left: 80px;
  z-index: 10;
}

.section2 .logo .fas.fa-building {
  font-size: 50px;
  position: relative;
  top: 40px;
  left: 40px;
  color: white;
}

.section3 {
  width: 100%;
  position: relative;
}

.section3 p {
  color: #09162a;
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 576px) {
  .section3 {
    margin-top: 1050px;
  }
}

@media (min-width: 768px) {
  .section3 {
    margin-top: 300px;
  }
}

@media (min-width: 992px) {
  .section3 {
    margin-top: 300px;
  }
}

@media (max-width: 575px) {
  .section3 {
    margin-top: 1100px;
  }
}

@media (min-width: 1200px) {
  .section3 {
    margin-top: 400px;
  }
}

.section3 .plus {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #fd972e;
  position: relative;
  margin: 0px auto;
}

.section3 .plus:hover {
  background-color: #09162a;
}

.section3 .plus .far.fa-plus {
  font-size: 35px;
  color: white;
  position: absolute;
  right: 10px;
  top: 5px;
}

.section4 span {
  font-family: "Muli";
  font-size: 18px;
}

.section4 .progress-bar {
  background-color: #fd972e;
  position: relative;
  display: inline-block;
  width: 100%;
  background: #f1f1f1;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

.section4 .progress-bar:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 4px;
  -webkit-animation: load 2.5s infinite;
          animation: load 2.5s infinite;
}

@-webkit-keyframes load {
  0% {
    width: 0;
    background: #fd972e;
  }
  100% {
    width: 100%;
    background: #fd972e;
  }
}

@keyframes load {
  0% {
    width: 0;
    background: #fd972e;
  }
  100% {
    width: 100%;
    background: #fd972e;
  }
}

@-webkit-keyframes pulse {
  0% {
    background: #fd972e;
  }
  75% {
    background: #fd972e;
  }
  100% {
    background: #fd972e;
  }
}

@keyframes pulse {
  0% {
    background: #fd972e;
  }
  75% {
    background: #fd972e;
  }
  100% {
    background: #fd972e;
  }
}

.section4 .line-height-progress-bar {
  line-height: 1px;
}

.section4 .img {
  width: 70%;
  height: 50%;
  margin: 0 auto;
}

.section4 .img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.section4 #readMoreBtn {
  background-color: #09162a;
  border: none;
  color: white;
  font-family: "Muli";
}

.section4 #readMoreBtn:hover {
  background-color: #fd972e;
}

.section4 .section4__info .aboutUs__tittle {
  color: #fd972e;
}

.section4 .section4__info .aboutUs__subttile {
  color: #09162a;
  font-size: 30px;
}

.section4 .section4__info .img {
  position: relative;
}

.section5 {
  overflow: hidden;
}

.section5 .img {
  display: none;
}

.section5 .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: visibility 0.25s ease-in, -webkit-transform 0.25s;
  transition: visibility 0.25s ease-in, -webkit-transform 0.25s;
  transition: transform 0.25s, visibility 0.25s ease-in;
  transition: transform 0.25s, visibility 0.25s ease-in, -webkit-transform 0.25s;
}

.section5 .img img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

@media (min-width: 768px) {
  .section5 .img {
    display: block;
  }
}

.section5 img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.section5 .chooseUs {
  width: 100%;
  background-color: #f6f6f6f1;
}

.section5 .chooseUs .chooseUs__title {
  color: #fd972e;
}

.section5 .chooseUs .chooseUs_subttitle {
  color: #09162a;
}

@media (min-width: 450px) {
  .section5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 733px) {
  .section5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section5 .whiteCircle {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
  position: relative;
}

.section5 .whiteCircle .logo {
  position: absolute;
  left: 30px;
  top: 15px;
}

.section5 .whiteCircle .logo .fas.fa-user,
.section5 .whiteCircle .logo .fad.fa-file-signature,
.section5 .whiteCircle .logo .fad.fa-pencil,
.section5 .whiteCircle .logo .fas.fa-warehouse-alt {
  font-size: 40px;
  color: #fd972e;
}

.section6 p {
  color: #fd972e;
}

.section6 .splide__pagination__page,
.section6 .splide__pagination__page.is-active {
  background-color: #fd9706;
}

.section6 .card {
  border: none;
  display: relative;
}

.section6 .card .card-img-overlay p {
  position: absolute;
  top: 0px;
}

@media (min-width: 375px) {
  .section6 .card .card-img-overlay p {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
  }
}

@media (min-width: 430px) {
  .section6 .card .card-img-overlay p {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
  }
}

@media (min-width: 576px) {
  .section6 .card .card-img-overlay p {
    position: absolute;
    top: 95px;
    left: 20px;
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .section6 .card .card-img-overlay p {
    position: absolute;
    top: 200px;
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .section6 .card .card-img-overlay p {
    position: absolute;
    top: 240px;
    left: 50px;
    font-size: 16px;
  }
}

.section6 .card .card-img-overlay span {
  position: absolute;
  top: 100px;
}

@media (min-width: 375px) {
  .section6 .card .card-img-overlay span {
    position: absolute;
    top: 75px;
    right: 10px;
    font-size: 14px;
  }
}

@media (min-width: 430px) {
  .section6 .card .card-img-overlay span {
    position: absolute;
    top: 75px;
    right: 30px;
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .section6 .card .card-img-overlay span {
    position: absolute;
    top: 150px;
    right: 50px;
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .section6 .card .card-img-overlay span {
    position: absolute;
    top: 230px;
    right: 110px;
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .section6 .card .card-img-overlay span {
    position: absolute;
    top: 300px;
    right: 160px;
    font-size: 16px;
  }
}

.section6 .card .card-img-overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.section6 .card .card-img-overlay:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.section7 {
  z-index: 10;
  position: relative;
  top: 60px;
}

.section7 .info {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section7 .info span {
  font-size: 40px;
}

@media (min-width: 375px) {
  .section7 .info {
    height: 200px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) {
  .section7 .info {
    height: 200px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section7 .fas.fa-person-sign,
.section7 .far.fa-building,
.section7 .fas.fa-users,
.section7 .fas.fa-comment-alt-edit {
  font-size: 30px;
  color: white;
}

@media (min-width: 375px) {
  .section7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) {
  .section7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 85% !important;
    float: right;
  }
}

@media (min-width: 768px) {
  .section7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 85% !important;
    float: right;
  }
}

@media (min-width: 992px) {
  .section7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 85% !important;
    float: right;
  }
}

.section8 {
  height: 600px;
  width: 100%;
  z-index: 1;
  clear: both;
  background-image: url("../img/5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

.section8 .section8__slider {
  position: relative;
  text-align: justify;
  top: 100px;
  width: 450px;
  height: 400px;
  background-color: white;
  padding: 20px;
  float: right;
  margin-right: 40px;
  line-height: 1.9;
  z-index: 10;
}

@media (min-width: 375px) {
  .section8 .section8__slider {
    position: relative;
    text-align: justify;
    top: 100px;
    width: 350px;
    height: 400px;
    background-color: white;
    padding: 20px;
    float: right;
    line-height: 1.9;
    z-index: 10;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .section8 .section8__slider {
    position: relative;
    text-align: justify;
    top: 150px;
    width: 450px;
    height: 400px;
    background-color: white;
    padding: 20px;
    float: right;
    margin-right: 40px;
    line-height: 1.9;
    z-index: 10;
  }
}

@media (min-width: 1250px) {
  .section8 .section8__slider {
    position: relative;
    text-align: justify;
    top: 250px;
    width: 450px;
    height: 400px;
    background-color: white;
    padding: 20px;
    float: right;
    margin-right: 40px;
    line-height: 1.9;
    z-index: 10;
  }
}

.section8 .splide__pagination__page,
.section8 .splide__pagination__page.is-active {
  background-color: #fd9706;
}

@media (min-width: 375px) {
  .section8 .about {
    font-size: 10px;
  }
}

@media (min-width: 576px) {
  .section8 .about {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .section8 .about {
    font-size: 10px;
  }
}

@media (min-width: 375px) {
  .splide__slide p {
    font-size: 15px;
  }
}

@media (min-width: 576px) {
  .splide__slide p {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .splide__slide p {
    font-size: 15px;
  }
}

@media (min-width: 375px) {
  .about__footer i {
    position: relative;
    bottom: 70px;
    left: 150px;
    color: #fd9706;
  }
}

@media (min-width: 576px) {
  .about__footer i {
    position: relative;
    left: 150px;
    bottom: 70px;
    color: #fd9706;
  }
}

@media (min-width: 768px) {
  .about__footer i {
    position: relative;
    bottom: 70px;
    color: #fd9706;
  }
}

.splide__arrow.splide__arrow--prev,
.splide__arrow.splide__arrow--next {
  display: none;
}

.section8__footer {
  height: 100px;
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: #f6f6f6f1;
}

.section8__footer .far.fa-hard-hat {
  color: #fd9706;
  font-size: 40px;
}

@media (min-width: 375px) {
  .section8__footer h3 {
    font-size: 13px;
  }
}

@media (min-width: 576px) {
  .section8__footer h3 {
    font-size: 10px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .section8__footer h3 {
    font-size: 16px;
  }
}

.section8__footer #joinNow {
  background-color: #09162a;
  border: none;
  color: white;
  margin-right: 40px;
  font-size: 20px;
  padding: 20px;
}

@media (max-width: 700px) {
  .section8__footer #joinNow {
    font-size: 12px;
    padding: 20px;
  }
}

.section8__footer #joinNow:hover {
  background-color: #fd972e;
}

@media (min-width: 375px) {
  .section9 .blogs {
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .section9 .blogs {
    margin-bottom: 30px;
  }
}

.section9 .image {
  overflow: hidden;
}

.section9 .image img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.section9 .image img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.section9 p {
  color: #fd972e;
}

.section9 h2 {
  font-family: "Muli";
}

.section9 .section9__team .card-footer {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.section9 .section9__team .card-footer h3 {
  font-weight: bold;
  color: #09162a;
}

.section9 .section9__team .card-footer p {
  font-weight: bold;
}

.section9 .card-footer__class {
  border-bottom: 3px solid #fd972e !important;
  background-color: #09162a !important;
}

.section9 .card-footer__class__h3 {
  color: white !important;
}

.section9 .card {
  position: relative;
}

.section9 .card .socialMedia {
  display: none !important;
}

.section9 .card:hover .socialMedia {
  position: absolute;
  top: 180px;
  left: 130px;
  display: block !important;
}

@media (min-width: 375px) {
  .section9 .card:hover .socialMedia {
    position: absolute;
    top: 70%;
    left: calc(50vw - 64px);
    display: block !important;
  }
}

@media (min-width: 576px) {
  .section9 .card:hover .socialMedia {
    position: absolute;
    top: 260px;
    left: 200px;
    display: block !important;
  }
}

@media (min-width: 767px) {
  .section9 .card:hover .socialMedia {
    position: absolute;
    top: 85px;
    left: 50px;
    display: block !important;
  }
}

@media (min-width: 992px) {
  .section9 .card:hover .socialMedia {
    position: absolute;
    top: 130px;
    left: 100px;
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .section9 .card:hover .socialMedia {
    position: absolute;
    top: 170px;
    left: 120px;
    display: block !important;
  }
}

.section9 .card:hover a {
  margin: 5px;
  padding: 15px;
  background-color: #09162a;
  padding: 7px;
  color: white;
  display: inline-block;
}

.section10 {
  background-color: rgba(0, 0, 0, 0.03);
}

@media (min-width: 375px) {
  .section10 {
    margin-top: 10px;
  }
}

@media (min-width: 575px) {
  .section10 {
    margin-top: 0;
  }
}

.section10 h3 {
  font-size: 14px;
  color: #fd972e;
  letter-spacing: 3px;
}

.section10 h1 {
  font-weight: bold;
}

@media (min-width: 375px) {
  .section10 .contactUs__paragraph {
    position: relative;
    -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: tb-rl;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    font-weight: bold;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    margin-right: 30px;
    height: 250px;
    padding: 10px;
  }
}

@media (min-width: 576px) {
  .section10 .contactUs__paragraph {
    position: relative;
    -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: tb-rl;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    font-weight: bold;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0px;
    height: 300px;
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .section10 .contactUs__paragraph {
    position: relative;
    -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: tb-rl;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    font-weight: bold;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0px;
    height: 300px;
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .section10 .contactUs__paragraph {
    position: relative;
    -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: tb-rl;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    font-weight: bold;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0px;
    height: 300px;
    padding: 10px;
  }
}

.section10 .contactColor {
  background-color: #fd972e;
}

@media (min-width: 375px) {
  .section10 .allInformation .icon {
    position: absolute;
    top: 30px;
    left: 200px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #fd972e;
  }
  .section10 .allInformation i {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 30px;
    color: white;
  }
  .section10 .allInformation .aboutInfo {
    position: absolute;
    top: 90px;
    left: 80px;
    color: white;
    text-align: center;
  }
  .section10 .allInformation .aboutInfo p {
    color: white;
    position: relative;
    font-weight: 600;
    top: 8px;
  }
  .section10 .allInformation .aboutInfo span {
    font-size: 20px;
    font-weight: 800;
    color: white !important;
  }
  .section10 .allInformation .aboutInfo #number {
    color: white !important;
  }
  .section10 .allInformation .aboutInfo #myEmail {
    font-weight: 800;
  }
  .section10 .allInformation .aboutInfo #myEmail:hover {
    background-color: #fd972e;
  }
}

@media (min-width: 576px) {
  .section10 .allInformation .icon {
    position: absolute;
    top: 30px;
    left: 250px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #fd972e;
  }
  .section10 .allInformation i {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 30px;
    color: white;
  }
  .section10 .allInformation .aboutInfo {
    position: absolute;
    top: 90px;
    left: 130px;
    color: white;
    text-align: center;
  }
  .section10 .allInformation .aboutInfo p {
    position: relative;
    font-weight: 600;
    color: white;
    top: 8px;
  }
  .section10 .allInformation .aboutInfo span {
    font-size: 20px;
    font-weight: 800;
    color: white;
  }
  .section10 .allInformation .aboutInfo #myEmail {
    font-weight: 800;
  }
  .section10 .allInformation .aboutInfo #myEmail:hover {
    background-color: #fd972e;
  }
}

@media (min-width: 768px) {
  .section10 .allInformation .icon {
    position: absolute;
    top: 30px;
    left: 180px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #fd972e;
  }
  .section10 .allInformation i {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 30px;
    color: white;
  }
  .section10 .allInformation .aboutInfo {
    position: absolute;
    top: 90px;
    left: 60px;
    color: white;
    text-align: center;
  }
  .section10 .allInformation .aboutInfo p {
    color: white;
    position: relative;
    font-weight: 600;
    top: 8px;
  }
  .section10 .allInformation .aboutInfo span {
    font-size: 20px;
    font-weight: 800;
    color: white;
  }
  .section10 .allInformation .aboutInfo #myEmail {
    font-weight: 800;
  }
  .section10 .allInformation .aboutInfo #myEmail:hover {
    background-color: #fd972e;
  }
}

@media (min-width: 992px) {
  .section10 .allInformation .icon {
    position: absolute;
    top: 100px;
    left: 150px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #fd972e;
  }
  .section10 .allInformation i {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 30px;
    color: white;
  }
  .section10 .allInformation .aboutInfo {
    position: absolute;
    top: 90px;
    left: 160px;
    color: white;
    text-align: center;
  }
  .section10 .allInformation .aboutInfo p {
    position: relative;
    font-weight: 600;
    top: 8px;
    color: white;
  }
  .section10 .allInformation .aboutInfo span {
    font-size: 20px;
    font-weight: 800;
    color: white;
  }
  .section10 .allInformation .aboutInfo #myEmail {
    font-weight: 800;
  }
  .section10 .allInformation .aboutInfo #myEmail:hover {
    background-color: #fd972e;
  }
}

.section10 .borderBottom {
  border-bottom: 0.2px solid black;
  width: 300px;
  position: relative;
  border-color: white;
  margin-top: 10px;
}

.section10 .row {
  border-radius: 4px;
}

.section10 .backgroundImage {
  background-image: url("../img/5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.section10 .backgroundImage .row {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 24, 44, 0.85)), to(rgba(16, 24, 44, 0.85)));
  background: linear-gradient(rgba(16, 24, 44, 0.85), rgba(16, 24, 44, 0.85));
  height: 100%;
}

.section10 #accordion {
  background: none;
  position: relative;
  bottom: 1px;
}

@media (min-width: 767px) {
  .section10 #accordion {
    background: none;
    position: relative;
    bottom: 100px;
  }
}

.section10 #accordion .card {
  margin-top: 10px;
  background-color: white !important;
}

.section10 #accordion .btn-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.cardHeaderColor {
  background: #10182c !important;
}

.btnLinkColor {
  color: white !important;
}

.section11 {
  background-color: #f6f6f6f1;
}

@media (min-width: 375px) {
  .section11 .blogs {
    margin-bottom: 15px;
  }
}

@media (min-width: 576px) {
  .section11 .blogs {
    margin-bottom: 15px;
  }
}

.section11 p {
  color: #fd972e;
}

.section11 h2 {
  font-weight: bold;
  color: #09162a;
}

.section11 .blogContainer {
  -webkit-box-shadow: 3px 5px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 5px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: relative;
}

.section11 .blogContainer .dateDiv {
  position: relative;
  bottom: 20px;
  left: 20px;
  width: 60px;
  padding: 8px;
  font-weight: bold;
  color: white;
  background-color: #fd972e;
  font-size: 20px;
}

.section11 .blogContainer .dateDiv .month {
  font-weight: 400;
  font-size: 16px;
}

.section11 .blogContainer .blogContainer__content {
  margin-left: 20px;
}

.section11 .blogContainer .blogContainer__content p {
  color: #09162a;
  font-weight: bold;
  font-size: 22px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.section11 .blogContainer .blogContainer__content p:hover {
  color: #fd972e;
}

.section11 .blogContainer .blogContent span {
  margin: 15px;
}

.section11 .blogContainer .blogContent span i {
  color: #fd972e;
}

.section11 .blogContainer .image {
  overflow: hidden;
}

.section11 .blogContainer .image img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.section11 .blogContainer .image img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.section12 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  width: 100%;
  background-color: #f6f6f6f1;
}

.section12 .image {
  margin: 0 auto;
}

.section12 .display-flex-md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .section12 .display-flex-md {
    display: none;
  }
}

.aboutUs__section2 {
  position: relative;
}

.aboutUs__section2 .top h1 {
  color: #09162a;
  font-weight: bold;
}

.aboutUs__section2 .top h2 {
  color: #fd972e;
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 375px) {
  .aboutUs__section2 .top {
    padding-top: 20px;
    font-size: 12px !important;
  }
}

@media (min-width: 576px) {
  .aboutUs__section2 .top {
    padding-top: 5px;
    font-size: 16px !important;
  }
}

@media (min-width: 375px) {
  .aboutUs__section2 .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 475px) {
  .aboutUs__section2 .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 576px) {
  .aboutUs__section2 .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .aboutUs__section2 .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.aboutUs__section2 .information {
  position: relative;
  height: 300px;
}

@media (min-width: 375px) {
  .aboutUs__section2 .information .paragraphs {
    position: relative;
    left: 2px;
    width: 300px;
    text-align: right !important;
  }
}

@media (min-width: 475px) {
  .aboutUs__section2 .information .paragraphs {
    position: relative;
    left: 0px;
    width: 450px;
    overflow: hidden;
    text-align: justify !important;
  }
}

@media (min-width: 576px) {
  .aboutUs__section2 .information .paragraphs {
    position: relative;
    left: 20px;
    width: 490px;
    overflow: hidden;
    text-align: justify !important;
  }
}

@media (min-width: 768px) {
  .aboutUs__section2 .information .paragraphs {
    position: relative;
    left: 20px;
    width: 450px;
    overflow: hidden;
    text-align: justify !important;
  }
}

.aboutUs__section2 .information .paragraphs #first {
  font-size: 18px;
  line-height: 20px;
  margin-left: 2px;
  font-weight: bold;
  font-size: 13px;
}

.aboutUs__section2 .information .paragraphs #second {
  font-size: 13px;
}

.aboutUs__section2 .information .paragraphs p {
  color: #09162a;
}

.aboutUs__section2 .information .projects .far.fa-comment-alt-edit {
  font-size: 40px;
  color: #fd972e;
}

.aboutUs__section2 .information .projects span a {
  text-decoration: none;
  list-style: none;
  color: #09162a;
  font-weight: bold;
}

@media (min-width: 375px) {
  .aboutUs__section2 .information .projects {
    margin-left: 100px;
  }
}

.aboutUs__section2 .yearsOfExperience {
  position: relative;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  font-weight: bold;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0;
  padding: 1px 2px;
  background-color: #fd972e;
  height: 240px;
  text-align: center;
}

@media (min-width: 375px) {
  .aboutUs__section2 .yearsOfExperience {
    position: relative;
    -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: tb-rl;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    font-weight: bold;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    padding: 1px 2px;
    background-color: #fd972e;
    height: 250px;
    text-align: center;
  }
}

@media (min-width: 475px) {
  .aboutUs__section2 .yearsOfExperience {
    position: relative;
    -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: tb-rl;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    font-weight: bold;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    padding: 7px 17px;
    background-color: #fd972e;
    height: 250px;
    text-align: center;
  }
}

.aboutUs__section2 .image {
  width: 100%;
  height: 75%;
}

.aboutUs__section2 .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section13 {
  background-color: #0e192f;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}

.section13 .firstColumn {
  font-size: 13px;
}

.section13 .firstColumn h3 {
  font-weight: 800;
}

.section13 .firstColumn .body-info {
  color: white;
}

@media (min-width: 375) {
  .section13 .firstColumn .body-info h3 {
    color: #fd972e !important;
    font-weight: 800;
  }
}

.section13 .firstColumn #requestWithOnlineForm {
  padding: 15px 20px;
  font-size: 12px;
  background-color: transparent;
  color: white;
  font-weight: 600;
  border-color: white;
  border-width: 1px;
  -webkit-transition: background-color, color 1s;
  transition: background-color, color 1s;
  border-radius: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.section13 .firstColumn #requestWithOnlineForm:hover {
  background-color: white;
  color: #09162a;
}

@media (min-width: 375px) {
  .section13 .firstColumn {
    padding-left: 0 !important;
  }
}

@media (min-width: 576px) {
  .section13 .firstColumn {
    padding-left: 15px !important;
  }
}

.section13 .secondColumn h3 {
  color: white;
  font-family: "Rajdhani";
  font-weight: 800;
}

.section13 .secondColumn .links a {
  list-style: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  font-family: "Rajdhani";
}

.section13 .secondColumn .links a li {
  padding: 2.5px;
}

.section13 .secondColumn .links a li::before {
  content: "\003E";
  position: relative;
  padding-right: 5px;
  color: #fd972e;
  font-weight: bold;
  line-height: 1;
}

.section13 .usefulDesingBottom .secondColumn_div1 {
  width: 5px;
  height: 5px;
  border: 3px solid #fd972e;
  fill: red;
}

.section13 .usefulDesingBottom .secondColumn_div2 {
  width: 50px;
  height: 5px;
  border-bottom: 2px solid #fd972e;
}

.section13 .thirdColumn h3 {
  color: white;
  font-family: "Rajdhani";
  font-weight: 800;
}

@media (min-width: 375px) {
  .section13 .thirdColumn .recentPosts .image {
    width: 70px;
    height: 70px;
  }
  .section13 .thirdColumn .recentPosts .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section13 .thirdColumn .recentPosts .content {
    margin-top: 10px;
  }
  .section13 .thirdColumn .recentPosts .content a {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
  }
  .section13 .thirdColumn .recentPosts .content span {
    font-weight: 600;
    color: #fd972e;
    font-size: 10px;
    position: relative;
    top: 5px;
  }
}

@media (orientation: landscape) {
  .section13 .thirdColumn .recentPosts {
    color: white !important;
  }
}

@media (orientation: portrait) {
  .section13 .thirdColumn .recentPosts {
    color: white !important;
  }
}

.section13 .lastColumn {
  color: white;
}

.section13 .lastColumn h3 {
  color: white;
  font-family: "Rajdhani";
  font-weight: 800;
}

.section13 .lastColumn .contentInfo #email {
  font-weight: bold;
  font-family: "Rajdhani";
  font-size: 17px;
}

.section13 .lastColumn .contentInfo i {
  color: #fd972e;
}

.section13 .lastColumn .contentInfo hr {
  border: 0;
  height: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.section14 {
  background-color: #0d1c33;
}

.section14 p:hover {
  color: #d8d6db71;
}

.section14 .footer {
  color: #dbdad6;
}

.section14 .links {
  margin-right: 15px;
}

.section14 .links a {
  padding: 5px;
  color: #dbdad6;
}

.section14 .links a:hover {
  color: #d8d6db71;
}

.aboutUs__aboutUs__Section {
  width: 100%;
  height: 450px;
}

.aboutUs__aboutUs__Section .container-fluid {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.aboutUs__aboutUs__Section .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(28, 40, 54, 0.9)));
  background: linear-gradient(rgba(28, 40, 54, 0.9));
}

.aboutUs__aboutUs__Section .info {
  color: white;
}

.aboutUs__aboutUs__Section .info a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.aboutUs__aboutUs__Section .info #aboutUs {
  color: #fd8933 !important;
}

.aboutUs__aboutUs__Section .info h3 {
  font-size: 40px;
  line-height: 46px;
  font-weight: bold;
}

.aboutUs__aboutUs__Section .imageBackground {
  position: relative;
  height: 450px;
  width: 100%;
  background-image: url("../img/aboutUs.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 20%;
}

.aboutUS__howWeWorks {
  z-index: 5;
  width: 100%;
  background-color: #f5f5f5;
}

.aboutUS__howWeWorks .num1 {
  width: 30px;
  height: 30px;
  background: #fd8933;
  color: white;
  text-align: center;
  position: relative;
  left: 50px;
  top: 10px;
  z-index: 10;
  padding: 5px 5px;
  border-radius: 100%;
}

.aboutUS__howWeWorks .borderBottom1 {
  position: relative;
  top: 20px;
  left: 70px;
  width: 60px;
  height: 2px;
  background-color: #fd8933;
  z-index: 20;
}

.aboutUS__howWeWorks .num2 {
  width: 80px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  position: relative;
  bottom: 30px;
  z-index: 5;
}

.aboutUs__counter {
  background-color: #fd972e;
  z-index: 10;
  position: relative;
  top: 0px;
}

@media (min-width: 375px) {
  .aboutUs__counter .info {
    margin-top: 10px !important;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutUs__counter .info span {
    font-size: 20px;
  }
  .aboutUs__counter .info p {
    font-size: 20;
  }
  .aboutUs__counter .fas.fa-person-sign,
  .aboutUs__counter .far.fa-building,
  .aboutUs__counter .fas.fa-users,
  .aboutUs__counter .fas.fa-comment-alt-edit {
    font-size: 20px;
    color: white;
  }
}

@media (min-width: 375px) {
  .aboutUs__counter .info {
    margin-top: 10px !important;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutUs__counter .info span {
    font-size: 20px;
  }
  .aboutUs__counter .info p {
    font-size: 20;
  }
  .aboutUs__counter .fas.fa-person-sign,
  .aboutUs__counter .far.fa-building,
  .aboutUs__counter .fas.fa-users,
  .aboutUs__counter .fas.fa-comment-alt-edit {
    font-size: 20px;
    color: white;
  }
}

.testimonilas .testimonals__content {
  font-size: 22px;
  line-height: 32px;
  font-family: "Rajdhani";
  font-weight: bold;
}

.testimonilas .testimonals__content .image {
  width: 100%;
  height: 100%;
}

.testimonilas .testimonals__content .image img {
  margin: 0 auto !important;
}

.testimonilas .testimonals__content .fas.fa-star {
  color: #fd972e;
}

.testimonilas .testimonals__content .splide__pagination {
  display: none !important;
}

.ourServices__section {
  background-color: #f5f5f5;
}

.ourServices__section .serviceContent {
  position: relative;
}

.ourServices__section .image {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.ourServices__section .image img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: visibility 0.25s ease-in, -webkit-transform 0.25s;
  transition: visibility 0.25s ease-in, -webkit-transform 0.25s;
  transition: transform 0.25s, visibility 0.25s ease-in;
  transition: transform 0.25s, visibility 0.25s ease-in, -webkit-transform 0.25s;
}

.ourServices__section .image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.ourServices__section .imageContent {
  -webkit-box-shadow: 2px 3px 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 4px 8px rgba(0, 0, 0, 0.2);
}

.ourServices__section .imageContent h3 {
  font-size: 20px;
}

.ourServices__section .imageContent:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.ourServices__section .imageContent a {
  list-style-type: none;
  text-decoration: none;
  color: #fd972e;
  font-weight: 600;
}

.ourServices__section .imageContent a:hover {
  color: #d47719;
}

@media (min-width: 375px) {
  .ourServices__section .imageContent {
    background-color: white;
    width: 90%;
    position: relative;
    left: 5%;
    bottom: 10%;
    z-index: 10;
    padding: 20px 20px;
  }
  .ourServices__section .imageContent p {
    font-size: 16px;
  }
  .ourServices__section .imageContent .icon {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #fd972e;
    position: absolute;
    left: 40%;
    bottom: 92%;
    z-index: 20;
  }
  .ourServices__section .imageContent .fas.fa-building {
    font-size: 40px;
    color: white;
    position: relative;
    top: 15%;
  }
}

@media (min-width: 576px) {
  .ourServices__section .imageContent {
    background-color: white;
    width: 90%;
    position: relative;
    left: 5%;
    bottom: 10%;
    z-index: 10;
    padding: 20px 20px;
  }
  .ourServices__section .imageContent p {
    font-size: 16px;
  }
  .ourServices__section .imageContent .icon {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #fd972e;
    position: absolute;
    left: 40%;
    bottom: 92%;
    z-index: 20;
  }
  .ourServices__section .imageContent .fas.fa-building {
    font-size: 40px;
    color: white;
    position: relative;
    top: 15%;
  }
}

@media (min-width: 768px) {
  .ourServices__section .imageContent {
    background-color: white;
    width: 90%;
    position: relative;
    left: 5%;
    bottom: 10%;
    z-index: 10;
    padding: 20px 20px;
  }
  .ourServices__section .imageContent p {
    font-size: 16px;
  }
  .ourServices__section .imageContent .icon {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #fd972e;
    position: absolute;
    left: 30%;
    bottom: 95%;
    z-index: 20;
  }
  .ourServices__section .imageContent .fas.fa-building {
    font-size: 40px;
    color: white;
    position: relative;
    top: 15%;
  }
}

@media (min-width: 992px) {
  .ourServices__section .imageContent {
    background-color: white;
    width: 90%;
    position: relative;
    left: 5%;
    bottom: 10%;
    z-index: 10;
    padding: 20px 20px;
  }
  .ourServices__section .imageContent p {
    font-size: 16px;
  }
  .ourServices__section .imageContent .icon {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #fd972e;
    position: absolute;
    left: 37%;
    bottom: 92%;
    z-index: 20;
  }
  .ourServices__section .imageContent .fas.fa-building {
    font-size: 40px;
    color: white;
    position: relative;
    top: 18%;
  }
}

.blogContent {
  background-color: #f8f8fba4;
}

.blogDescripiton {
  background-color: white;
}

.blogDescripiton .datetest {
  position: absolute;
}

.blogDescripiton .dateAndMonth {
  color: white;
  position: absolute;
  bottom: 35px;
  left: 20px;
  width: 60px;
  height: 65;
  padding: 10px 0;
  background: #fd972e;
  position: relative;
}

.blogDescripiton .dateAndMonth .date {
  font-size: 25px;
}

.contentBlog {
  padding: 20px 20px;
  margin-top: 40px;
}

.contentBlog h2 {
  font-size: 28px;
  font-weight: bold;
  color: #09162a;
}

.contentBlog p {
  margin-top: 20px;
}

.contentBlog .footer {
  width: 100%;
  height: 100%;
}

.contentBlog .footer div a {
  color: black;
  list-style-type: none;
  text-decoration: none;
}

.contentBlog .footer div a i {
  margin-right: 5px;
}

.contentBlog .footer div a:hover {
  color: #fd972e;
}

.inputForma {
  width: 100%;
  background-color: rgba(194, 176, 176, 0.061);
  height: 100px;
}

.inputForma input {
  padding: 30px 20px;
}

.inputForma .search {
  width: 80% !important;
  margin: 20px 30px;
}

.inputForma .search a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.inputForma .search .input-group-text {
  background-color: #fd972e;
}

.blogAllRecentPosts {
  background-color: #f4f4f4;
}

.blogAllRecentPosts .aboutBlogsContent .image {
  width: 100%;
  height: 100%;
}

.blogAllRecentPosts .aboutBlogsContent .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogAllRecentPosts .aboutBlogsContent .content p {
  color: #09162a;
  font-weight: bold;
  font-size: 15px;
}

.blogAllRecentPosts .aboutBlogsContent .content span {
  font: size 12px !important;
  color: #fd972e;
}

.recents .recet1 {
  width: 5px;
  height: 5px;
  background-color: #fd972e;
}

.recents .recent2 {
  width: 50px;
  height: 2px;
  background-color: #fd972e;
}

.categories {
  padding: 0px 25px;
  background-color: #f4f4f4;
}

.categories .list li a::before {
  content: "\003E";
  position: relative;
  padding-right: 5px;
  color: black;
  font-weight: bold;
  line-height: 1;
}

.categories .list li {
  list-style-type: none;
}

.categories .list li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.categories .list li a:hover {
  color: #fd972e;
}

.categories .list .number {
  width: 20px;
  height: 25px;
  text-align: center;
  background-color: white;
}

.rightImage .image {
  width: 100%;
  height: 100%;
}

.rightImage .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tags {
  background-color: #f4f4f4;
}

.tags h3 {
  color: #09162a;
}

.allAboutTags .aboutTagsClass {
  width: 100%;
  background-color: white;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
}

.allAboutTags .aboutTagsClass a {
  text-decoration: none;
  color: #09162a;
}

.allAboutTags .aboutTagsClass:hover {
  background-color: #fd972e;
  color: white;
}
/*# sourceMappingURL=index.css.map */